@page
@model eUcionica.Pages.OblastiFolder.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Promeni</h1>

<h4>Oblasti</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Oblasti.ID" />
            <div class="form-group">
                <label asp-for="Oblasti.Name" class="control-label"></label>
                <input asp-for="Oblasti.Name" class="form-control" />
                <span asp-validation-for="Oblasti.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oblasti.IDPredmeta" class="control-label"></label>
                <input asp-for="Oblasti.IDPredmeta" class="form-control" />
                <span asp-validation-for="Oblasti.IDPredmeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sacuvaj" class="btn btn-outline-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Oblasti">Nazad na oblasti</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
