@page
@model PrivacyModel
@{
    ViewData["Title"] = "Nesto malo o ovom sajtu";
}
<h1 style="text-align:center; font-size: 2em;">@ViewData["Title"]</h1>

<p style="text-align:center; font-size: 1.5em;">Ovo je stranica za vezbanje u ucenje kako samo ime kaze eUcionica</p>
