@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <style>
        body {
            background-image: url('/slike/tabla.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 50%;
            background-position: center;
        }
    </style>
</head>

<div class="text-center">
    <h1 class="display-2">eUcionica</h1>
    <h1>NAJBOLJI SAJT ZA UCENJE</h1>
    <br />
    <br />
    <br />
    <p class="lead">
        <a href="https://localhost:7155/about" class="btn btn-outline-dark">O nama mozete vise procitati klikom ovde</a>
    </p>
    <p class="lead">
        <a href="https://localhost:7155/PredmetiFolder/Predmeti" class="btn btn-outline-dark">Predmeti</a>
    </p>
    <p class="lead">
        <a href="https://localhost:7155/OblastiFolder/Oblasti" class="btn btn-outline-dark">Oblasti</a>
    </p>
    <p class="lead">
        <a href="https://localhost:7155/ZadaciFolder/zadatak" class="btn btn-outline-dark">Zadaci</a>
    </p>
    <p class="lead">
        <a href="https://localhost:7155/Testovi/testiranje" class="btn btn-outline-dark">Testovi</a>
    </p>
</div>